[submodule "LSE/LSE-163"]
	path = LSE/LSE-163
	url = https://github.com/lsst/LSE-163.git
[submodule "LDM/LDM-151"]
	path = LDM/LDM-151
	url = https://github.com/lsst/LDM-151.git
[submodule "LDM/LDM-152"]
	path = LDM/LDM-152
	url = https://github.com/lsst/LDM-152.git
[submodule "LDM/LDM-230"]
	path = LDM/LDM-230
	url = https://github.com/lsst/LDM-230.git
[submodule "LDM/LDM-129"]
	path = LDM/LDM-129
	url = https://github.com/lsst/LDM-129.git
[submodule "LDM/LDM-135"]
	path = LDM/LDM-135
	url = https://github.com/lsst/LDM-135.git
[submodule "LDM/LDM-463"]
	path = LDM/LDM-463
	url = https://github.com/lsst/LDM-463.git
[submodule "LDM/LDM-472"]
	path = LDM/LDM-472
	url = https://github.com/lsst/LDM-472.git
[submodule "LDM/LDM-493"]
	path = LDM/LDM-493
	url = https://github.com/lsst/LDM-493.git
[submodule "LDM/LDM-148"]
	path = LDM/LDM-148
	url = https://github.com/lsst/LDM-148.git
[submodule "SQR/sqr-001"]
	path = SQR/sqr-001
	url = https://github.com/lsst-sqre/sqr-001.git
[submodule "SQR/sqr-000"]
	path = SQR/sqr-000
	url = https://github.com/lsst-sqre/sqr-000.git
[submodule "SQR/sqr-002"]
	path = SQR/sqr-002
	url = https://github.com/lsst-sqre/sqr-002.git
[submodule "SQR/sqr-003"]
	path = SQR/sqr-003
	url = https://github.com/lsst-sqre/sqr-003.git
[submodule "SQR/sqr-004"]
	path = SQR/sqr-004
	url = https://github.com/lsst-sqre/sqr-004.git
[submodule "SQR/sqr-005"]
	path = SQR/sqr-005
	url = https://github.com/lsst-sqre/sqr-005.git
[submodule "SQR/sqr-006"]
	path = SQR/sqr-006
	url = https://github.com/lsst-sqre/sqr-006.git
[submodule "SQR/sqr-007"]
	path = SQR/sqr-007
	url = https://github.com/lsst-sqre/sqr-007.git
[submodule "SQR/sqr-008"]
	path = SQR/sqr-008
	url = https://github.com/lsst-sqre/sqr-008.git
[submodule "SQR/sqr-009"]
	path = SQR/sqr-009
	url = https://github.com/lsst-sqre/sqr-009.git
[submodule "SQR/sqr-011"]
	path = SQR/sqr-011
	url = https://github.com/lsst-sqre/sqr-011.git
[submodule "SQR/sqr-012"]
	path = SQR/sqr-012
	url = https://github.com/lsst-sqre/sqr-012.git
[submodule "SQR/sqr-013"]
	path = SQR/sqr-013
	url = https://github.com/lsst-sqre/sqr-013.git
[submodule "SQR/sqr-014"]
	path = SQR/sqr-014
	url = https://github.com/lsst-sqre/sqr-014.git
[submodule "SQR/sqr-015"]
	path = SQR/sqr-015
	url = https://github.com/lsst-sqre/sqr-015.git
[submodule "SQR/sqr-010"]
	path = SQR/sqr-010
	url = https://github.com/lsst-sqre/sqr-010.git
[submodule "SQR/sqr-016"]
	path = SQR/sqr-016
	url = https://github.com/lsst-sqre/sqr-016.git
[submodule "SQR/sqr-017"]
	path = SQR/sqr-017
	url = https://github.com/lsst-sqre/sqr-017.git
[submodule "DMTN/dmtn-001"]
	path = DMTN/dmtn-001
	url = https://github.com/lsst-dm/dmtn-001.git
[submodule "DMTN/dmtn-000"]
	path = DMTN/dmtn-000
	url = https://github.com/lsst-dm/dmtn-000.git
[submodule "DMTN/dmtn-003"]
	path = DMTN/dmtn-003
	url = https://github.com/lsst-dm/dmtn-003.git
[submodule "DMTN/dmtn-004"]
	path = DMTN/dmtn-004
	url = https://github.com/lsst-dm/dmtn-004.git
[submodule "DMTN/dmtn-006"]
	path = DMTN/dmtn-006
	url = https://github.com/lsst-dm/dmtn-006.git
[submodule "DMTN/dmtn-005"]
	path = DMTN/dmtn-005
	url = https://github.com/lsst-dm/dmtn-005.git
[submodule "DMTN/dmtn-007"]
	path = DMTN/dmtn-007
	url = https://github.com/lsst-dm/dmtn-007.git
[submodule "DMTN/dmtn-008"]
	path = DMTN/dmtn-008
	url = https://github.com/lsst-dm/dmtn-008.git
[submodule "DMTN/dmtn-009"]
	path = DMTN/dmtn-009
	url = https://github.com/lsst-dm/dmtn-009.git
[submodule "DMTN/dmtn-010"]
	path = DMTN/dmtn-010
	url = https://github.com/lsst-dm/dmtn-010.git
[submodule "DMTN/dmtn-011"]
	path = DMTN/dmtn-011
	url = https://github.com/lsst-dm/dmtn-011.git
[submodule "DMTN/dmtn-012"]
	path = DMTN/dmtn-012
	url = https://github.com/lsst-dm/dmtn-012.git
[submodule "DMTN/dmtn-013"]
	path = DMTN/dmtn-013
	url = https://github.com/lsst-dm/dmtn-013.git
[submodule "DMTN/dmtn-014"]
	path = DMTN/dmtn-014
	url = https://github.com/lsst-dm/dmtn-014.git
[submodule "DMTN/dmtn-016"]
	path = DMTN/dmtn-016
	url = https://github.com/lsst-dm/dmtn-016.git
[submodule "DMTN/dmtn-015"]
	path = DMTN/dmtn-015
	url = https://github.com/lsst-dm/dmtn-015.git
[submodule "DMTN/dmtn-020"]
	path = DMTN/dmtn-020
	url = https://github.com/lsst-dm/dmtn-020.git
[submodule "DMTN/dmtn-021"]
	path = DMTN/dmtn-021
	url = https://github.com/lsst-dm/dmtn-021.git
[submodule "DMTN/dmtn-022"]
	path = DMTN/dmtn-022
	url = https://github.com/lsst-dm/dmtn-022.git
[submodule "DMTN/dmtn-025"]
	path = DMTN/dmtn-025
	url = https://github.com/lsst-dm/dmtn-025.git
[submodule "DMTN/dmtn-027"]
	path = DMTN/dmtn-027
	url = https://github.com/lsst-dm/dmtn-027.git
[submodule "DMTN/dmtn-028"]
	path = DMTN/dmtn-028
	url = https://github.com/lsst-dm/dmtn-028.git
[submodule "DMTN/dmtn-029"]
	path = DMTN/dmtn-029
	url = https://github.com/lsst-dm/dmtn-029.git
[submodule "DMTN/dmtn-030"]
	path = DMTN/dmtn-030
	url = https://github.com/lsst-dm/dmtn-030.git
[submodule "DMTN/dmtn-031"]
	path = DMTN/dmtn-031
	url = https://github.com/lsst-dm/dmtn-031.git
[submodule "DMTN/dmtn-032"]
	path = DMTN/dmtn-032
	url = https://github.com/lsst-dm/dmtn-032.git
[submodule "DMTN/dmtn-033"]
	path = DMTN/dmtn-033
	url = https://github.com/lsst-dm/dmtn-033.git
[submodule "DMTN/dmtn-034"]
	path = DMTN/dmtn-034
	url = https://github.com/lsst-dm/dmtn-034.git
[submodule "DMTN/dmtn-035"]
	path = DMTN/dmtn-035
	url = https://github.com/lsst-dm/dmtn-035.git
[submodule "DMTN/dmtn-036"]
	path = DMTN/dmtn-036
	url = https://github.com/lsst-dm/dmtn-036.git
[submodule "DMTN/dmtn-002"]
	path = DMTN/dmtn-002
	url = https://github.com/lsst-dm/dmtn-002.git
[submodule "DMTN/dmtn-017"]
	path = DMTN/dmtn-017
	url = https://github.com/lsst-dm/dmtn-017.git
[submodule "DMTN/dmtn-018"]
	path = DMTN/dmtn-018
	url = https://github.com/lsst-dm/dmtn-018.git
[submodule "DMTN/dmtn-019"]
	path = DMTN/dmtn-019
	url = https://github.com/lsst-dm/dmtn-019.git
[submodule "DMTN/dmtn-023"]
	path = DMTN/dmtn-023
	url = https://github.com/lsst-dm/dmtn-023.git
[submodule "DMTN/dmtn-024"]
	path = DMTN/dmtn-024
	url = https://github.com/lsst-dm/dmtn-024.git
[submodule "DMTN/dmtn-026"]
	path = DMTN/dmtn-026
	url = https://github.com/lsst-dm/dmtn-026.git
[submodule "DMTN/dmtn-037"]
	path = DMTN/dmtn-037
	url = https://github.com/lsst-dm/dmtn-037.git
[submodule "LDM/LDM-294"]
	path = LDM/LDM-294
	url = https://github.com/lsst/LDM-294.git
[submodule "DMTN/dmtn-038"]
	path = DMTN/dmtn-038
	url = https://github.com/lsst-dm/dmtn-038
[submodule "LDM/LDM-503"]
	path = LDM/LDM-503
	url = https://github.com/lsst/LDM-503
[submodule "LDM/LDM-502"]
	path = LDM/LDM-502
	url = https://github.com/lsst/LDM-502
[submodule "LDM/LDM-513"]
	path = LDM/LDM-513
	url = https://github.com/lsst-dmsst/LDM-513
[submodule "LDM/LDM-17"]
	path = LDM/LDM-17
	url = https://github.com/lsst/reportDC3a
[submodule "LDM/LDM-227"]
	path = LDM/LDM-227
	url = https://github.com/lsst/W13report
[submodule "LDM/LDM-512"]
	path = LDM/LDM-512
	url = https://github.com/lsst/LDM-512
[submodule "DMTN/dmtn-039"]
	path = DMTN/dmtn-039
	url = https://github.com/lsst-dm/dmtn-039
[submodule "DMTN/dmtn-040"]
	path = DMTN/dmtn-040
	url = https://github.com/lsst-dm/dmtn-040
[submodule "DMTN/dmtn-041"]
	path = DMTN/dmtn-041
	url = https://github.com/lsst-dm/dmtn-041
[submodule "LSE/LSE-63"]
	path = LSE/LSE-63
	url = https://github.com/lsst/LSE-63
[submodule "DMTN/dmtn-042"]
	path = DMTN/dmtn-042
	url = https://github.com/lsst-dm/dmtn-042
[submodule "DMTN/dmtn-043"]
	path = DMTN/dmtn-043
	url = https://github.com/lsst-dm/dmtn-043
[submodule "DMTN/dmtn-044"]
	path = DMTN/dmtn-044
	url = https://github.com/lsst-dm/dmtn-044
[submodule "SQR/sqr-018"]
	path = SQR/sqr-018
	url = https://github.com/lsst-sqre/sqr-018
[submodule "SQR/sqr-019"]
	path = SQR/sqr-019
	url = https://github.com/lsst-sqre/sqr-019
[submodule "LDM/LDM-522"]
	path = LDM/LDM-522
	url = https://github.com/lsst/LDM-522
[submodule "LDM/LDM-523"]
	path = LDM/LDM-523
	url = https://github.com/lsst-dmsst/LDM-523
